<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104574003907-9uduruaod8p0bn8uviln45v2knu0lgvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104574003907-9uduruaod8p0bn8uviln45v2knu0lgvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAFv0IRsckJviyatchMpwJ000c64TWUJfo</string>
	<key>GCM_SENDER_ID</key>
	<string>104574003907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HackTXAttendees</string>
	<key>PROJECT_ID</key>
	<string>hacktxattendees</string>
	<key>STORAGE_BUCKET</key>
	<string>hacktxattendees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104574003907:ios:d5a32bb1dffa5f98b69076</string>
	<key>DATABASE_URL</key>
	<string>https://hacktxattendees.firebaseio.com</string>
</dict>
</plist>